
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1492136079603'); /* IE9*/
  src: url('iconfont.eot?t=1492136079603#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1492136079603') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1492136079603') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1492136079603#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before { content: "\e640"; }

.icon-jilud:before { content: "\e66c"; }

.icon-xinwen:before { content: "\e6cb"; }

.icon-zhuce:before { content: "\e697"; }

.icon-fuwu:before { content: "\e634"; }

.icon-lianxi:before { content: "\e605"; }

.icon-icon-yxj-address:before { content: "\e61c"; }

.icon-12:before { content: "\e636"; }

.icon-denglu:before { content: "\e60c"; }

.icon-address:before { content: "\e689"; }

.icon-shouye-copy:before { content: "\e606"; }

